@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* 
*는 전체 요소에 적용한다는 뜻
padding은 안쪽 여백을 뜻함. 아래의 0은 여백이 없다는 뜻.
box-sizing은 박스의 크기를 어떤것을 기준으로 할지 정한다. border-box는 테두리를 기준으로 박스의 크기를 정한다.
*/

*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}

/* 
position은 위치를 정한다. relative이므로 자신이 원래 있던 위치에 대하여 상대적으로 작용한다.
*/
body{
    width: 100%;
    background: #0c111b;
    position: relative;
    font-family: 'Roboto',sans-serif;
}
/* 
position fixed : 스크롤을 내려도 항상 지정 위치에 존재. (지정 위치는 초기 컨테이닝 블록을 기준으로)
padding 요소가 2개 : 위아래, 좌우의 간격을 뜻함.
z-index : 수치가 높을수록 뷰의 가장 상단에 위치. 
display : 해당요소가 화면에 어떻게 보일지 지정 ( 블록레벨/인라인레벨)
align-items : 해당요소들이 화면상 어떤 기준으로 맞춰질지 지정
 */
.navbar{
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 4%;
    background: #0c111b;
    z-index: 9;
    display: flex;
    align-items: center;
}

.brand-logo{
    width: 115px;
    height: 45px;
}

/* 
list-style : 해당 리스트의 속성을 설정할수있음.
 */
.nav-links{
    margin-top: 10px;
    display:flex;
    list-style: none;
}

/* 
text-transform : 해당 text를 표기하는 방법을 설정할 수 있음.
opacity : 불투명도
 */
.nav-items a{
    text-decoration:  none;
    margin-left: 20px;
    text-transform: capitalize;
    color: #fff;
    opacity: 9;
}

.kids-icon{
    width: 40px;
    height: 15px;
}

.right-container{
    display: block;
    margin-left: auto;
}

.search-box{
    border: none;
    border-bottom: 1px solid #aaa;
    background: transparent;
    outline: none;
    height: 30px;
    color: #fff;
    width: 250px;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
    transition: 0.5s;
}

.search-box:focus{
    width: 400px;
    border-color: #1f80ce;
}

/*
border-radius : 요소의 모서리를 얼마나 둥글게 만들지 지정

 */
.sub-btn{
    background: #1f80ce;
    height: 30px;
    padding: 0 20px;
    color: #fff;
    border-radius: 5px;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    margin: 0 10px;
}

.login-link{
    color: #fff;
    opacity: 0.9;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
    margin-top: 80px;
    text-decoration: none;
}

/*
overflow-x : x축을 기준으로 구역을 넘는 요소에 대하여 어떻게 보이게할지 지정 
 */
.carousel-container{
    position: relative;
    width: 100%;
    height: 450px;
    padding: 20px 0;
    overflow-x: hidden;
    margin-top: 80px;
}

.carousel{
    display: flex;
    width: 92%;
    height: 100%;
    position: relative;
    margin: auto;
    background: rgba(0,0,0,0.1);
}

.slider{
    flex: 0 0 auto;
    margin-right: 30px;
    position:relative;
    background: rgba(0,0,0,0.5);
    border-radius: 5px;
    width: 100%;
    height: 100%;
    left: 0;
    transition: 1s;
    overflow: hidden;
}

.slider img{
    width: 70%;
    min-height: 100%;
    object-fit: cover;
    display: block;
    margin-left: auto;
}

.slider-content{
    position: absolute;
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, #030b17 80%, #0c111b00);
    color: #fff;
    z-index: 2;
}

.movie-title{
    padding-left: 50px;
    text-transform: capitalize;
    margin-top: 80px;
}
.movie-desc{
    width: 80%;
    line-height: 30px;
    padding-left: 50px;
    margin-top: 30px;
    opacity: 0.8;
}

.video-card-container{
    position: relative;
    width: 92%;
    margin: auto;
    height: 10vw;
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
}

.video-card{
    position: relative;
    min-width: calc(100%/5 - 10px);
    width: calc(100%/5 - 10px);
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    background: #030b17;
}

.video-card-image,
.card-video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-video{
    position: absolute;
}

.video-card:hover .video-card-image{
    display: none;
}

.title{
    color: #fff;
    opacity: 0.9;
    padding-left: 4%;
    text-transform: capitalize;
    font-size: 22px;
    font-weight: 500;
}

.movies-list {
    width: 100%;
    height: 220px;
    position: relative;
    margin: 10px 0 20px;
 }

.card-container {
    position: absolute;
    width: 96%;
    padding-left: 4%;
    height: 220PX;
    display: flex;
    margin: 0 auto;
    align-items: center;
    overflow-x: auto;
    overflow-y: visible;
    scroll-behavior: smooth;
 }

.card-container::-webkit-scrollbar {
    display: none;
 }

.card {
    position: relative;
    min-width: 150px;
    width: 150px;
    height: 200px;
    border-radius: 5px;
    overflow: hidden;
    margin-left: 10px;
    transition: .5s;
    background: #000;
 }

.card-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card:hover{
    transform: scale(1.1);
}

.card:hover .card-body:hover{
    opacity: 1;
}

.card-body{
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: linear-gradient(to bottom, rgba(4,8,15,0), #192133 90%);
    padding: 10px;
    transition: 0.5s;
}

.name{
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
    margin-top: 60%;
}

.des{
    color: #fff;
    opacity: 0.8;
    margin: 5px 0;
    font-weight: 500;
    font-size: 12px;
}

.watchlist-btn{
    position: absolute;
    width: 100%;
    text-transform: capitalize;
    background : none;
    border: none;
    font-weight: 500;
    text-align: right;
    color: rgba(255,255,255,0.5);
    margin: 5px -21px;
    cursor: pointer;
    padding: 10px 5px;
    border-radius: 5px;
}

.watchlist-btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 12px;
    height: 35px;
    width: 35px;
    background-image: url(images/add.png);
    background-size: cover;
    transform: scale(0.4);
}

/* add to 위에 마우스 놓으면 하얀색 색깔 바뀜 효과 */
.watchlist-btn:hover{
    color: #fff;
}

.pre-btn,
.nxt-btn{
    position: absolute;
    top: 0%;
    width: 5%;
    height: 100%;
    z-index: 2;
    border: none;
    cursor: pointer;
}
.pre-btn{
    left: 0;
    background: linear-gradient(to right, #0c111b 0%, #0c111b);
}

.nxt-btn{
    right: 0;
    background: linear-gradient(to right, #0c111b 0%, #0c111b);
}

.pre-btn img,
.nxt-btn img{
    width: 15px;
    height: 20px;
    opacity: 0;
}

.pre-btn:hover img,
.nxt-btn:hover img{
    opacity: 1;
}
